.sider {
  box-shadow: 0 0 10px #A3A3A3;

  height: 100%;
  max-width: 20vw;
  min-width: 200px;

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

    .tag {
      margin-bottom: 10px;
      margin-right: 10px;
        cursor: pointer;
    }
  }
}
