.sider {
  box-shadow: 0 0 10px #a3a3a3;

  height: 100%;
  width: 20vw;
  min-width: 200px;

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

    .tag {
      margin-bottom: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .appendButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    border: 1px dashed black;
    cursor: pointer;

    &:hover {
      color: orange;
    }
  }
}
