.wrapper {
  width: 0;
  position: relative;
  height: 100%;


  .drawer {
    position: absolute;
    left: 0;
    top: 8px;
    // height: calc(100% - 58px);
    height: calc(100% - 18px);
    width: 20vw;
    transition-property: all;
    transition-duration: 300ms;
    box-shadow: 0 0 3px #D4D4D8;
    border-radius: 5px 0 0 5px;
    display: flex;

    .before {
      height: 100%;
      width: 0;
      position: relative;
      .toggleButton {
        cursor: pointer;
        box-shadow: 0 0 5px #CBD5E1;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: -45px;
        background-color: white;
        transition-property: all;
        transition-duration: 300ms;
      }
    }
  }
  .drawerOpen {
    transform: translateX(calc(-20vw - 10px));
  }
}

.rotate {
  transform: rotateZ(180deg);
}
