.searchButton {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;

  &:hover {
    color: #aaa !important;
    border-color: #d9d9d9 !important;
  }
}

.selectorContainer {
  position: absolute;
  // right: -5px;
  // right: calc(-300px + 30px);
  height: 80vh;
  width: 300px;
  top: 10vh;
  transition-property: all;
  transition-duration: 300ms;
  display: flex;
  .selectorWrapper {
    box-sizing: border-box;
    height: 100%;
    width: 293px;
    // margin-right: 7px;
    // padding-right: 7px;
    // width: calc(100% - 7px);
    border-radius: 8px;
    box-shadow: 0 0 4px #aaa;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 13px;
    line-height: 30px;
    .domainTag {
      font-size: 14px;
      cursor: pointer;
    }

    .plusButton {
      display: block;
      width: 100%;
    }
  }

  &:hover {
    right: 0;
  }
}

.kbarAnimator {
  width: 500px;
  box-shadow: 0 0 4px #aaa;
  // padding: 10px 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #fff;
  max-height: unset !important;
  // padding: 13px 0;
  .kbarSearchInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 23px;
    margin-top: 10px;
    padding: 13px 8px;
    // padding: 13px 8px 13px 8px;
    box-sizing: border-box;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .kbarSearchInput + div {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.6rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #eee;
      border-radius: 3px;
    }
  }
  .kbarResultRecord {
    font-size: 20px;
    padding: 13px 8px;
  }
  .kbarBottom {
    margin-bottom: 10px;
    width: 100%;
    .kbarBottomContainer {
      width: 100%;
      display: flex;
      height: 100px;
      justify-content: center;
      align-items: center;
      span {
        font-size: 30px;
        color: #aaa;
      }
    }
  }
}

.loadingWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.suffixButtons {
  position: absolute;
  right: 20px;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .buttonOutline {
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
}

.attributeContainer {
  position: absolute;
  left: 30px;
  top: 60px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;
  width: 400px;
  z-index: 1000;

  .attributeHeader {
    height: 2em;
    background-color: #ecfdf5;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .attributeContent {
    width: 100%;
    padding: 10px 10px;
    :global {
      .ant-col {
        font-size: 1em;
      }
    }
  }
}

.markdownWrapper {
  max-height: 600px;
  min-height: 600px;
  overflow: auto;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 3px;
  }
}

.echartGraph {
  height: 100%;
  width: 100%;
}
