@import '@bixi-design/graphs/dist/style.less';

* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.bixi-graph-container {
  height: 100%;
  width: 100%;
}
