
.forceContainer {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.svg {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nodeGroup {
  z-index: 100;
}

.linkGroup {
  z-index: 80;
}
