.indexContainer {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  overflow: hidden;
  position: relative;

  .panel {
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0 2px #999;

    .iconContainer {
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }
    }

    .disableIcon {
      cursor: not-allowed;
    }
  }

  .viewContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .searchHeader {
      width: 100%;
      height: 50px;
      box-shadow: -2px 0 2px #999;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      .graphName {
        position: absolute;
        left: 20px;
        top: 10px;
        line-height: 27px;
        font-size: 23px;
        font-weight: 600;
      }
    }

    .forceWrapper {
      height: calc(100% - 52px);
      // flex-grow: 1;
      width: calc(100% - 2px);
      box-sizing: border-box;
      color: #555;
      border-top: 1px solid #eee;

      // * {
      //   height: 100%;
      //   width: 100%;
      // }
    }
  }
}
.MaxHW {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
