@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");
.graphWrapper {
  height: 100%;
  width: 100%;
  .forceDefaultStyle {
    height: 100%;
    width: 100%;
  }
}

.nodeText {
  user-select: none;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 15px;
}

.linkText {
  user-select: none;
}

.canvas {
  border: none;
}
